{
    "openapi": "3.1.0",
    "info": {
        "title": "WhatsMark.io REST API",
        "version": "1.0.0",
        "description": "WhatsMark public tenant REST API (v1).\n\n**Base URL:** `https://api.whatsmark.io`\n\n**Auth:** Every authenticated request sends `Authorization: Bearer <token>`, where the token is a workspace API token created under **Settings → API Keys** in your tenant dashboard.\n\n**Scopes:** Each endpoint's description lists the token ability it requires. Create your token with the matching scopes.\n\n**Pagination:** List endpoints return `{ data, links: { next, prev }, meta }`. Large/append-only collections (contacts, group members, webhooks) use opaque cursor pagination — follow `links.next` until it is `null`. `per_page` is clamped to 5–100.\n\n**Async sends:** Message and OTP sends return `202` and are processed on the queue.\n\n**Error envelope:**\n```json\n{ \"message\": \"...\", \"error_code\": \"...\", \"status\": 4xx }\n```\n\n**Modules:** Auth/Account · Channels · Contacts · Statuses · Sources · Groups · Labels · Templates · Messages · Conversations · OTP."
    },
    "servers": [
        {
            "url": "https://api.whatsmark.io",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Root",
            "description": "Unauthenticated service metadata."
        },
        {
            "name": "Auth & Account",
            "description": "Verify your token, and read workspace identity, plan and usage."
        },
        {
            "name": "Channels",
            "description": "Connected WhatsApp accounts and their phone numbers."
        },
        {
            "name": "Contacts",
            "description": "Create, read, update, merge and bulk-manage contacts."
        },
        {
            "name": "Contact Statuses",
            "description": "The pipeline statuses a contact can be assigned."
        },
        {
            "name": "Contact Sources",
            "description": "Where a contact originated (e.g. website, referral)."
        },
        {
            "name": "Contact Groups",
            "description": "Named groups used to segment contacts and target campaigns."
        },
        {
            "name": "Contact Labels",
            "description": "Free-form labels for tagging contacts."
        },
        {
            "name": "Templates",
            "description": "WhatsApp message templates and their Meta approval status."
        },
        {
            "name": "Messages",
            "description": "Send template and free-form messages, and read delivery status."
        },
        {
            "name": "Conversations",
            "description": "Customer conversation threads and their message history."
        },
        {
            "name": "OTP",
            "description": "Send, verify and resend one-time passcodes over WhatsApp."
        },
        {
            "name": "Error Examples",
            "description": "Reference shapes for the errors any endpoint may return."
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "schemas": {
            "Error": {
                "type": "object",
                "description": "Standard error envelope returned by every endpoint.",
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "Human-readable explanation."
                    },
                    "error_code": {
                        "type": "string",
                        "description": "Stable machine-readable code — branch on this, not the message."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code."
                    }
                },
                "required": ["message", "error_code", "status"]
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "Missing, invalid or expired API token.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "message": "Missing API token.",
                            "error_code": "unauthenticated",
                            "status": 401
                        }
                    }
                }
            },
            "PaymentRequired": {
                "description": "The workspace has no valid subscription, or a payment is under review.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "message": "Subscription required or expired.",
                            "error_code": "subscription_required",
                            "status": 402
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "The token lacks the required scope, or the account is suspended/on hold.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "message": "This token is missing the required scope: contacts:write.",
                            "error_code": "insufficient_scope",
                            "status": 403
                        }
                    }
                }
            },
            "QuotaExhausted": {
                "description": "The monthly API request quota for the workspace is exhausted.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "message": "API request quota exhausted for this billing period.",
                            "error_code": "quota_exhausted",
                            "status": 429
                        }
                    }
                },
                "headers": {
                    "RateLimit-Limit": {
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Your API request quota for the current billing period."
                    },
                    "RateLimit-Remaining": {
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Requests remaining in the current billing period."
                    },
                    "RateLimit-Reset": {
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Seconds until the quota resets."
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Workspace API token. Create one under **Settings → API Keys** in your tenant dashboard and grant it the scopes each endpoint requires."
            }
        }
    },
    "paths": {
        "/": {
            "get": {
                "tags": ["Root"],
                "summary": "Welcome",
                "description": "No auth required. Returns a welcome message, the API name, version, the v1 base path, and the documentation URL.",
                "operationId": "rootWelcome",
                "security": [],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "base": {
                                            "type": "string"
                                        },
                                        "documentation": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "message": "Welcome to the WhatsMark.io REST API",
                                            "name": "WhatsMark.io REST API",
                                            "version": "v1",
                                            "base": "/api/v1",
                                            "documentation": "https://api.whatsmark.io/docs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/ping": {
            "get": {
                "tags": ["Auth & Account"],
                "summary": "Ping",
                "description": "**Scope required:** `account:read`\n\nHealth / identity probe. Validates the full auth chain (token → workspace → subscription → feature gate → quota). Returns who you are and which abilities your token has.\n\nUse this first to confirm your token is working.",
                "operationId": "authAccountPing",
                "security": [
                    {
                        "bearerAuth": ["account:read"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "workspace": {
                                                    "type": "string"
                                                },
                                                "token": {
                                                    "type": "string"
                                                },
                                                "abilities": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": {
                                                "ok": true,
                                                "workspace": "tenant1",
                                                "token": "My API Token",
                                                "abilities": [
                                                    "account:read",
                                                    "channels:read"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401 Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error_code": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "401 Unauthenticated": {
                                        "summary": "401 Unauthenticated",
                                        "value": {
                                            "message": "Missing API token.",
                                            "error_code": "unauthenticated",
                                            "status": 401
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "description": "403 Missing Scope",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error_code": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "403 Missing Scope": {
                                        "summary": "403 Missing Scope",
                                        "value": {
                                            "message": "This action is unauthorized.",
                                            "error_code": "forbidden",
                                            "status": 403
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/account": {
            "get": {
                "tags": ["Auth & Account"],
                "summary": "Account",
                "description": "**Scope required:** `account:read`\n\nReturns the calling workspace's identity, active plan, and subscription state.",
                "operationId": "authAccountAccount",
                "security": [
                    {
                        "bearerAuth": ["account:read"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "workspace": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "plan": {
                                                    "type": "object",
                                                    "properties": {
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "subscription": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "valid": {
                                                            "type": "boolean"
                                                        },
                                                        "ends_at": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": {
                                                "workspace": "tenant1",
                                                "name": "Acme Corp",
                                                "plan": {
                                                    "slug": "professional",
                                                    "tier": "professional",
                                                    "name": "Professional"
                                                },
                                                "subscription": {
                                                    "status": "active",
                                                    "valid": true,
                                                    "ends_at": "2026-07-26T00:00:00+00:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/usage": {
            "get": {
                "tags": ["Auth & Account"],
                "summary": "Usage",
                "description": "**Scope required:** `account:read`\n\nReturns current plan limits and consumption for all metered features: contacts, conversations, campaigns, media storage, and API requests.\n\n`limit: null` and `unlimited: true` means no cap on that feature.",
                "operationId": "authAccountUsage",
                "security": [
                    {
                        "bearerAuth": ["account:read"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "contacts": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "remaining": {
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "conversations": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {},
                                                        "remaining": {},
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "message_campaigns": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "remaining": {
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "template_campaigns": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "remaining": {
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "media_library_mb": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "remaining": {
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "api_requests": {
                                                    "type": "object",
                                                    "properties": {
                                                        "used": {
                                                            "type": "integer"
                                                        },
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "remaining": {
                                                            "type": "integer"
                                                        },
                                                        "unlimited": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": {
                                                "contacts": {
                                                    "used": 1240,
                                                    "limit": 5000,
                                                    "remaining": 3760,
                                                    "unlimited": false
                                                },
                                                "conversations": {
                                                    "used": 320,
                                                    "limit": null,
                                                    "remaining": null,
                                                    "unlimited": true
                                                },
                                                "message_campaigns": {
                                                    "used": 4,
                                                    "limit": 10,
                                                    "remaining": 6,
                                                    "unlimited": false
                                                },
                                                "template_campaigns": {
                                                    "used": 2,
                                                    "limit": 10,
                                                    "remaining": 8,
                                                    "unlimited": false
                                                },
                                                "media_library_mb": {
                                                    "used": 150,
                                                    "limit": 1024,
                                                    "remaining": 874,
                                                    "unlimited": false
                                                },
                                                "api_requests": {
                                                    "used": 128,
                                                    "limit": 50000,
                                                    "remaining": 49872,
                                                    "unlimited": false
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/channels": {
            "get": {
                "tags": ["Channels"],
                "summary": "List Channels",
                "description": "**Scope required:** `channels:read`\n\nReturns all connected messaging accounts for the workspace across **every platform** (WhatsApp, Messenger, Instagram, Telegram, …), each with their endpoints nested under `endpoints`.\n\nAll accounts include `id`, `platform`, `name`, `account_id`, `status`, `connection_method`, `is_default`, `connected_at` and `endpoints`. WhatsApp accounts additionally include the phone-number shape (`waba_id`, `business_profile`, `mm_lite_status`, `phone_numbers`) for backward compatibility. The default channel is listed first.",
                "operationId": "channelsListChannels",
                "security": [
                    {
                        "bearerAuth": ["channels:read"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "platform": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "account_id": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "connection_method": {
                                                        "type": "string"
                                                    },
                                                    "is_default": {
                                                        "type": "boolean"
                                                    },
                                                    "connected_at": {
                                                        "type": "string"
                                                    },
                                                    "endpoints": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "identifier": {
                                                                    "type": "string"
                                                                },
                                                                "display_name": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "is_default": {
                                                                    "type": "boolean"
                                                                },
                                                                "phone_number_id": {
                                                                    "type": "string"
                                                                },
                                                                "display_number": {
                                                                    "type": "string"
                                                                },
                                                                "verified_name": {
                                                                    "type": "string"
                                                                },
                                                                "quality_rating": {
                                                                    "type": "string"
                                                                },
                                                                "throughput_level": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "waba_id": {
                                                        "type": "string"
                                                    },
                                                    "business_profile": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "review_status": {
                                                                "type": "string"
                                                            },
                                                            "verification_status": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "mm_lite_status": {},
                                                    "phone_numbers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "phone_number_id": {
                                                                    "type": "string"
                                                                },
                                                                "display_number": {
                                                                    "type": "string"
                                                                },
                                                                "verified_name": {
                                                                    "type": "string"
                                                                },
                                                                "quality_rating": {
                                                                    "type": "string"
                                                                },
                                                                "throughput_level": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "is_default": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "platform": "whatsapp",
                                                    "name": "Main WhatsApp Account",
                                                    "account_id": "123456789012345",
                                                    "status": "active",
                                                    "connection_method": "embedded_signup",
                                                    "is_default": true,
                                                    "connected_at": "2026-01-15T10:00:00+00:00",
                                                    "endpoints": [
                                                        {
                                                            "id": 2,
                                                            "identifier": "987654321098765",
                                                            "display_name": "+91 98765 43210",
                                                            "status": "active",
                                                            "is_default": true,
                                                            "phone_number_id": "987654321098765",
                                                            "display_number": "+91 98765 43210",
                                                            "verified_name": "Acme Corp",
                                                            "quality_rating": "GREEN",
                                                            "throughput_level": "STANDARD"
                                                        }
                                                    ],
                                                    "waba_id": "123456789012345",
                                                    "business_profile": {
                                                        "name": "Acme Corp",
                                                        "country": "IN",
                                                        "review_status": "approved",
                                                        "verification_status": "verified"
                                                    },
                                                    "mm_lite_status": null,
                                                    "phone_numbers": [
                                                        {
                                                            "id": 2,
                                                            "phone_number_id": "987654321098765",
                                                            "display_number": "+91 98765 43210",
                                                            "verified_name": "Acme Corp",
                                                            "quality_rating": "GREEN",
                                                            "throughput_level": "STANDARD",
                                                            "status": "active",
                                                            "is_default": true
                                                        }
                                                    ]
                                                },
                                                {
                                                    "id": 5,
                                                    "platform": "messenger",
                                                    "name": "Acme Facebook Page",
                                                    "account_id": "104857392017465",
                                                    "status": "active",
                                                    "connection_method": "embedded_signup",
                                                    "is_default": false,
                                                    "connected_at": "2026-02-01T10:00:00+00:00",
                                                    "endpoints": [
                                                        {
                                                            "id": 6,
                                                            "identifier": "104857392017465",
                                                            "display_name": "Acme Facebook Page",
                                                            "status": "active",
                                                            "is_default": true
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/channels/{channel_id}": {
            "get": {
                "tags": ["Channels"],
                "summary": "Get Channel",
                "description": "**Scope required:** `channels:read`\n\nReturns a single connected account by its ID on any platform, with its endpoints nested under `endpoints`. WhatsApp accounts additionally include the phone-number shape (`waba_id`, `phone_numbers`, …) for backward compatibility.\n\nReturns `404` if the channel does not exist or belongs to a different workspace.",
                "operationId": "channelsGetChannel",
                "security": [
                    {
                        "bearerAuth": ["channels:read"]
                    }
                ],
                "parameters": [
                    {
                        "name": "channel_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Identifier of the channel."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "platform": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "account_id": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "connection_method": {
                                                    "type": "string"
                                                },
                                                "is_default": {
                                                    "type": "boolean"
                                                },
                                                "connected_at": {
                                                    "type": "string"
                                                },
                                                "endpoints": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "identifier": {
                                                                "type": "string"
                                                            },
                                                            "display_name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "is_default": {
                                                                "type": "boolean"
                                                            },
                                                            "phone_number_id": {
                                                                "type": "string"
                                                            },
                                                            "display_number": {
                                                                "type": "string"
                                                            },
                                                            "verified_name": {
                                                                "type": "string"
                                                            },
                                                            "quality_rating": {
                                                                "type": "string"
                                                            },
                                                            "throughput_level": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "waba_id": {
                                                    "type": "string"
                                                },
                                                "business_profile": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "review_status": {
                                                            "type": "string"
                                                        },
                                                        "verification_status": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "mm_lite_status": {},
                                                "phone_numbers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "phone_number_id": {
                                                                "type": "string"
                                                            },
                                                            "display_number": {
                                                                "type": "string"
                                                            },
                                                            "verified_name": {
                                                                "type": "string"
                                                            },
                                                            "quality_rating": {
                                                                "type": "string"
                                                            },
                                                            "throughput_level": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "is_default": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": {
                                                "id": 1,
                                                "platform": "whatsapp",
                                                "name": "Main WhatsApp Account",
                                                "account_id": "123456789012345",
                                                "status": "active",
                                                "connection_method": "embedded_signup",
                                                "is_default": true,
                                                "connected_at": "2026-01-15T10:00:00+00:00",
                                                "endpoints": [
                                                    {
                                                        "id": 2,
                                                        "identifier": "987654321098765",
                                                        "display_name": "+91 98765 43210",
                                                        "status": "active",
                                                        "is_default": true,
                                                        "phone_number_id": "987654321098765",
                                                        "display_number": "+91 98765 43210",
                                                        "verified_name": "Acme Corp",
                                                        "quality_rating": "GREEN",
                                                        "throughput_level": "STANDARD"
                                                    }
                                                ],
                                                "waba_id": "123456789012345",
                                                "business_profile": {
                                                    "name": "Acme Corp",
                                                    "country": "IN",
                                                    "review_status": "approved",
                                                    "verification_status": "verified"
                                                },
                                                "mm_lite_status": null,
                                                "phone_numbers": [
                                                    {
                                                        "id": 2,
                                                        "phone_number_id": "987654321098765",
                                                        "display_number": "+91 98765 43210",
                                                        "verified_name": "Acme Corp",
                                                        "quality_rating": "GREEN",
                                                        "throughput_level": "STANDARD",
                                                        "status": "active",
                                                        "is_default": true
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "description": "404 Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error_code": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "404 Not Found": {
                                        "summary": "404 Not Found",
                                        "value": {
                                            "message": "Channel not found.",
                                            "error_code": "not_found",
                                            "status": 404
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/contacts": {
            "get": {
                "tags": ["Contacts"],
                "summary": "List Contacts",
                "description": "**Scope:** `contacts:read`\n\nCursor-paginated list of contacts. Filters: `search`, `type`, `contact_status_id`, `contact_source_id`, `group_id`, `per_page` (5–100, default 50). Merged contacts are excluded.",
                "operationId": "contactsListContacts",
                "security": [
                    {
                        "bearerAuth": ["contacts:read"]
                    }
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "first_name": {
                                                        "type": "string"
                                                    },
                                                    "last_name": {
                                                        "type": "string"
                                                    },
                                                    "display_name": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    },
                                                    "contact_status_id": {
                                                        "type": "integer"
                                                    },
                                                    "contact_source_id": {
                                                        "type": "integer"
                                                    },
                                                    "group_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "label_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "custom_fields": {
                                                        "type": "object",
                                                        "properties": {
                                                            "company": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "next": {},
                                                "prev": {}
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "first_name": "Jane",
                                                    "last_name": "Doe",
                                                    "display_name": "Jane Doe",
                                                    "phone": "+919876543210",
                                                    "email": "jane@example.com",
                                                    "type": "lead",
                                                    "is_active": true,
                                                    "contact_status_id": 1,
                                                    "contact_source_id": 1,
                                                    "group_ids": [1],
                                                    "label_ids": [1],
                                                    "custom_fields": {
                                                        "company": "Acme"
                                                    },
                                                    "created_at": "2026-06-26T10:00:00+00:00",
                                                    "updated_at": "2026-06-26T10:00:00+00:00"
                                                }
                                            ],
                                            "links": {
                                                "next": null,
                                                "prev": null
                                            },
                                            "meta": {
                                                "per_page": 50,
                                                "current_page": 1,
                                                "last_page": 1,
                                                "total": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            },
            "post": {
                "tags": ["Contacts"],
                "summary": "Create Contact",
                "description": "**Scope:** `contacts:write`\n\nCreate a contact. `phone` is required and must be unique in E.164-ish form. Honours the `contacts` plan limit → `422 limit_reached` at cap.",
                "operationId": "contactsCreateContact",
                "security": [
                    {
                        "bearerAuth": ["contacts:write"]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "last_name": {
                                        "type": ["string", "null"],
                                        "maxLength": 100
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "pattern": "^\\+?[1-9]\\d{6,14}$",
                                        "description": "Must be unique within your workspace."
                                    },
                                    "email": {
                                        "type": ["string", "null"],
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "type": {
                                        "type": ["string", "null"],
                                        "enum": ["guest", "lead", "customer"]
                                    },
                                    "contact_status_id": {
                                        "type": ["integer", "null"],
                                        "description": "Must reference an existing `contact_statuses` record."
                                    },
                                    "contact_source_id": {
                                        "type": ["integer", "null"],
                                        "description": "Must reference an existing `contact_sources` record."
                                    },
                                    "is_active": {
                                        "type": ["boolean", "null"]
                                    },
                                    "group_ids": {
                                        "type": ["array", "null"],
                                        "items": {
                                            "type": "integer",
                                            "description": "Must reference an existing `contact_groups` record."
                                        }
                                    },
                                    "label_ids": {
                                        "type": ["array", "null"],
                                        "items": {
                                            "type": "integer",
                                            "description": "Must reference an existing `contact_labels` record."
                                        }
                                    },
                                    "custom_fields": {
                                        "type": ["object", "null"],
                                        "properties": {
                                            "company": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": true
                                    },
                                    "display_name": {
                                        "type": ["string", "null"],
                                        "maxLength": 255
                                    }
                                },
                                "required": ["first_name", "phone"]
                            },
                            "examples": {
                                "Create Contact": {
                                    "summary": "Create Contact",
                                    "value": {
                                        "first_name": "Jane",
                                        "last_name": "Doe",
                                        "phone": "+919876543210",
                                        "email": "jane@example.com",
                                        "type": "lead",
                                        "contact_status_id": 1,
                                        "contact_source_id": 1,
                                        "is_active": true,
                                        "group_ids": [1],
                                        "label_ids": [1],
                                        "custom_fields": {
                                            "company": "Acme"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201 Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "display_name": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "contact_status_id": {
                                                    "type": "integer"
                                                },
                                                "contact_source_id": {
                                                    "type": "integer"
                                                },
                                                "group_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "label_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "custom_fields": {
                                                    "type": "object",
                                                    "properties": {
                                                        "company": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "201 Created": {
                                        "summary": "201 Created",
                                        "value": {
                                            "data": {
                                                "id": 1,
                                                "first_name": "Jane",
                                                "last_name": "Doe",
                                                "display_name": "Jane Doe",
                                                "phone": "+919876543210",
                                                "email": "jane@example.com",
                                                "type": "lead",
                                                "is_active": true,
                                                "contact_status_id": 1,
                                                "contact_source_id": 1,
                                                "group_ids": [1],
                                                "label_ids": [1],
                                                "custom_fields": {
                                                    "company": "Acme"
                                                },
                                                "created_at": "2026-06-26T10:00:00+00:00",
                                                "updated_at": "2026-06-26T10:00:00+00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "description": "422 Limit Reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "error_code": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 Limit Reached": {
                                        "summary": "422 Limit Reached",
                                        "value": {
                                            "message": "You have reached your contacts limit.",
                                            "error_code": "limit_reached",
                                            "status": 422
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/QuotaExhausted"
                    }
                }
            }
        },
        "/api/v1/contacts/batch": {
            "post": {
                "tags": ["Contacts"],
                "summary": "Batch Create Contacts",
                "description": "**Scope:** `contacts:write`\n\nCreate up to 100 contacts in one call. Each item is validated and created independently — the response reports `created` and per-index `errors` (partial success).",
                "operationId": "contactsBatchCreateContacts",
                "security": [
                    {
                        "bearerAuth": ["contacts:write"]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "contacts": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Batch Create Contacts": {
                                    "summary": "Batch Create Contacts",
                                    "value": {
                                        "contacts": [
                                            {
                                                "first_name": "Jane",
                                                "phone": "+919876543210"
                                            },
                                            {
                                                "first_name": "John",
                                                "phone": "+919811111111",
                                                "email": "john@example.com"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "created": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "first_name": {
                                                                "type": "string"
                                                            },
                                                            "last_name": {
                                                                "type": "string"
                                                            },
                                                            "display_name": {
                                                                "type": "string"
                                                            },
                                                            "phone": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "is_active": {
                                                                "type": "boolean"
                                                            },
                                                            "contact_status_id": {
                                                                "type": "integer"
                                                            },
                                                            "contact_source_id": {
                                                                "type": "integer"
                                                            },
                                                            "group_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "label_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "custom_fields": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "company": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "created_at": {
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "index": {
                                                                "type": "integer"
                                                            },
                                                            "errors": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "phone": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 OK": {
                                        "summary": "200 OK",
                                        "value": {
                                            "data": {
                                                "created": [
                                                    {
                                                        "id": 1,
                                                        "first_name": "Jane",
                                                        "last_name": "Doe",
                                                        "display_name": "Jane Doe",
                                                        "phone": "+919876543210",
                                                        "email": "jane@example.com",
                                                        "type": "lead",
                                                        "is_active": true,
                                                        "contact_status_id": 1,
                                                        "contact_source_id": 1,
                                                        "group_ids": [1],
                                                        "label_ids": [1],
                                                        "custom_fields": {
                                                            "company": "Acme"
                                                        },
                                                        "created_at": "2026-06-26T10:00:00+00:00",
                                                        "updated_at": "2026-06-26T10:00:00+00:00"
                                                    }
                                                ],
                                                "errors": [
                                                    {
                                                        "index": 1,
                                                        "errors": {
                                                            "phone": [
                                                                "The phone has already been taken."
                                                            ]
[...]
